<header>
  <div class="container">
    <div class="header-wrap">
      <a href="#hero" class="header-logo cursorLink" data-split="false">
        <span class="header-logo-loading">Duy</span> Nguyen
      </a>

      <div class="header-btn headerBtn">
        <div class="state">
          <div>Menu</div>
          <div>Close</div>
        </div>
      </div>

      <ul class="header-menu">
        <li>
          <a href="#about" class="cursorLink"
            ><div>A</div>
            <div>b</div>
            <div>o</div>
            <div>u</div>
            <div>t</div></a
          >
        </li>
        <li>
          <a href="#work" class="cursorLink"
            ><div>W</div>
            <div>o</div>
            <div>r</div>
            <div>k</div>
            <div>s</div></a
          >
        </li>
        <li>
          <a href="#service" class="cursorLink"
            ><div>S</div>
            <div>e</div>
            <div>r</div>
            <div>v</div>
            <div>i</div>
            <div>c</div>
            <div>e</div>
            <div>s</div></a
          >
        </li>
        <li>
          <a href="#contact" class="cursorLink"
            ><div>C</div>
            <div>o</div>
            <div>n</div>
            <div>t</div>
            <div>a</div>
            <div>c</div>
            <div>t</div></a
          >
        </li>
      </ul>
    </div>
  </div>
</header>
