// Include styles.scss
@import "../../../styles.scss";
.contenedor-proyectos {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  display: flex;
  justify-content: start;
  flex-direction: row;
  transition: opacity 0.2s ease; /* Define una transición suave para la propiedad de opacidad */
  min-height: 250px;

  @include mobile {
    min-height: 1px;
  }

  @include tablet {
    min-height: 1px;
  }

  .columna-1 {
    width: 0%;
    color: #787878;
    position: relative;

    // Mobile
    @include mobile {
      display: none;
    }

    a {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }

  .columna-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    // Mobile
    @include mobile {
        width: 80%;    
        margin: auto;
    }

    @include tablet{
      width: 80%;    
      margin: auto;
    }
        

    &:hover {
      opacity: 1 !important;
      .titulo {
        color: $rojo;
      }
    }

    .titulo {
      font-weight: bold;

      a{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    .resumen {
      margin-top: 20px;
      color: #94a3bb;

      // Mobile
      @include mobile {
        text-align: justify;
      }

      @include tablet {
        text-align: justify;
      } 


    }
  }
}
