<div class="contenedor-proyectos" [style.opacity]="proyectos.opacity">
    <div class="columna-1">
        <a href="{{proyectos.link}}" target="_blank" aria-label="A project"></a>
        <!-- El src sera proyectos.src de mi img -->        
        <img class="gif" src="{{proyectos.src}}" alt="">
    </div>
    <div class="columna-2">
      <div class="titulo"> <a href="{{proyectos.link}}" target="_blank"></a> {{proyectos.titulo}}<b>➚</b> </div>
      <div class="resumen">
        {{ proyectos.resumen }}
      </div>
    </div>
</div>
  