<!-- <app-header></app-header> -->
<div class="contenedor-principal">
  <app-header></app-header>
  <div class="glow-cursor" [ngStyle]="lightStyle"></div>
  <div class="slide-1">
    <div class="contenedor-titulos text-focus-in ">
      <div class="titulo text-focus-in">
        Konnichiwa, I'm 
        <div class="name text-focus-in">
            <p>H</p>
            <p>É</p>
            <p>C</p>
            <p>T</p>
            <p>O</p>
            <p>R</p>
        </div>
      </div>
      <div class="subtitulo text-focus-in">
        こんにちは、私は
        <div class="name text-focus-in">
          ヘクター
        </div>
        です
      </div>
      <div class="skills text-focus-in">
        Software developer
      </div>
    </div>
  </div>
  <div class="slide-2 ">


    <div class="columna-1">
        <h2>Héctor Yoav Ugarte Ramírez  </h2>
        <h3>FullStack Developer Engineer</h3>
        <h4>Prolific Software Engineer adept in web, mobile, and AI research, with a passion for languages, especially Japanese.</h4>
        
    </div>
    <div class="columna-2">
      <div *ngFor="let experiencia of experiencias" (mouseenter)="hoverElemento(experiencia)" (mouseleave)="resetOpacity()">
        <app-experiencia [experiencia]="experiencia"></app-experiencia>
      </div>
    </div>
  </div>
  <div id="progress" [style.width.%]="progressBarWidth"></div>
</div>
