<!-- <app-header></app-header> -->
<div class="contenedor-principal">
  <app-header></app-header>
  <div class="slide-1">
    <div class="contenedor-titulos text-focus-in ">
      <div class="titulo text-focus-in">
        Konnichiwa, I'm 
        <div class="name name-japanese text-focus-in">
            <p>ヘ</p>
            <p>ク</p>
            <p>ト</p>
            <p>ル</p>
        </div>
        <div class="name name-romaji text-focus-in">
            <p>H</p>
            <p>É</p>
            <p>C</p>
            <p>T</p>
            <p>O</p>
            <p>R</p>
        </div>
      </div>
      <div class="subtitulo text-focus-in">
        こんにちは、私は
        <div class="name text-focus-in">
          ヘクター
        </div>
        です
      </div>
      <div class="skills text-focus-in">
        Software developer
      </div>
    </div>
  </div>
  <div class="slide-2 ">


    <div class="columna-1">
        <h2>Héctor Yoav Ugarte Ramírez  </h2>
        <h3>FullStack Developer Engineer</h3>
        <h4>Prolific Software Engineer adept in web, and AI research</h4>
        <h4>with a passion for languages, especially Japanese.</h4>
        
    </div>
    <div class="columna-2">
      <div *ngFor="let experiencia of experiencias" (mouseenter)="hoverElemento(experiencia)" (mouseleave)="resetOpacity()">
        <app-experiencia [experiencia]="experiencia"></app-experiencia>
      </div>
      <div class="resume-link">
        <a href="">View my Full Resume <b>➚</b></a>
      </div>
      <div *ngFor="let proyecto of proyectos" (mouseenter)="hoverProyecto(proyecto)" (mouseleave)="resetOpacity()">
        <app-projects [proyectos]="proyecto"></app-projects>
      </div>
    </div>
  </div>
  <div id="progress" [style.width.%]="progressBarWidth"></div>
</div>
