$color-fondo: #101010;
$rojo: #ff0000;
// Importar el archivo de estilos general
@import "../../../styles.scss";

.contenedor-principal {
  background-color: $color-fondo;
  height: 100%;
  width: 100%;

  .slide-1 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .bg-container {
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url("../../assets/images/bg.webp");
      background-size: cover;
      background-position: center;
      opacity: 0.3;
      z-index: 1;
    }

    .texto-principal {
      // mobile
      @include mobile {
        display: none;
      }
    }

    .contenedor-titulos {
      text-align: center;
      pointer-events: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 2;

      // mobile

      .titulo {
        color: white;
        font-size: 7rem;
        text-align: center;
        justify-content: center;
        display: flex;

        @include tablet {
          font-size: 4rem;
        }

        @include mobile {
          font-size: 2rem;
        }

        .name {
          margin-left: 10px;
          color: $rojo;
        }
      }

      .subtitulo,
      .skills {
        color: white;
        font-size: 2.5rem;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;

        @include tablet {
          font-size: 2rem;
        }

        @include mobile {
          font-size: 1rem;
        }
      }

      .name {
        margin-left: 10px;
        color: $rojo;
        display: flex;
        flex-direction: row;

        p {
          margin: 0px;
        }
      }
    }

    .texto-mobile {
      display: none;
      position: absolute;
      top: 10%;
      // mobile
      @include mobile {
        display: block;
        color: white;
        font-size: 7rem;
        text-align: center;
        margin-top: 20px;
        line-height: 90%;
      }

      .cuadrado-container {
        border: 7px solid $rojo;
        padding: 0.8rem 4rem;
        margin-bottom: 3rem;
      }
    }
  }

  .slide-2 {
    width: 100%;
    max-width: 1280px;
    height: 100%;
    background-color: $color-fondo;
    color: white;
    display: flex;
    justify-content: space-between;
    margin: auto;

    // Version tablet y mobile
    @include tablet {
      flex-direction: column;
    }

    @include mobile {
      flex-direction: column;
    }

    .columna-1 {
      height: 100%;
      width: 40%;
      position: sticky;
      top: 5%;
      z-index: 3;

      // Version tablet y mobile
      @include tablet {
        position: static;
        text-align: center;
        width: 100%;
        margin-bottom: 10px;
      }

      @include mobile {
        position: static;
        text-align: center;
        width: 100%;
        margin-bottom: 10px;
      }

      h2 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 3rem;
        margin: 0px;
      }
      h3 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.5rem;
      }
      h4 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1rem;
        color: #94a3bb;
        margin: 0px;
      }

      // estilos para la version alterna


      .contenedor-filtro{
        display: flex;
        align-items: center;

        input[type="checkbox"] {
          height: 0;
          width: 0;
          visibility: hidden;
        }
  
        label {
          cursor: pointer;
          text-indent: -9999px;
          width: 50px;
          height: 30px;
          background: grey;
          display: block;
          border-radius: 100px;
          position: relative;
        }
  
        label:after {
          content: "";
          position: absolute;
          top: 5px;
          left: 5px;
          width: 20px;
          height: 20px;
          background: #fff;
          border-radius: 90px;
          transition: 0.3s;
        }
  
        input:checked + label {
          background: #fff;
        }
  
        input:checked + label:after {
          left: calc(100% - 5px);
          transform: translateX(-100%);
          background-color: $rojo;
        }
  
        label:active:after {
          width: 25px;
        }
      }


      .contenedor-video {
        position: absolute;
        width: 100vh;
        max-width: 680px;
        max-height: 415px;
        overflow: hidden;
        aspect-ratio: 16/9;
        left: -10%;
        top: 10%;

        @include mobile {
          display: none;
        }

        perspective: 1000px; /* Agrega perspectiva para el efecto 3D */
        transform: translateY(20%) rotateY(17deg) rotateX(15deg); /* Centro del elemento */
        iframe {
          // width: 300%;
          // height: 100%;
          // margin-left: -100%;
          // transform: rotateY(17deg) rotateX(15deg);
          pointer-events: none;
        }
      }
    }

    .columna-2 {
      width: 45%;
      height: 100%;

      @include tablet {
        width: 100%;
        text-align: center;
      }

      @include mobile {
        width: 100%;
        text-align: center;
      }

      div {
        margin-bottom: 40px;
      }

      .resume-link {
        position: relative;
        width: fit-content;

        // mobile
        @include mobile {
          margin: auto;
          margin-bottom: 40px;
        }

        @include tablet {
          margin: auto;
        }

        &:hover {
          cursor: pointer;
        }

        a {
          text-decoration: none;
          font-weight: bold;
          color: white;

          &:hover {
            color: $rojo;
          }
        }
      }
    }
  }

  #progress {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 5px; /* Altura de la barra de progreso */
    background-color: $rojo; /* Color de la barra de progreso */
    z-index: 9999;
    transition: width 0.3s ease; /* Transición suave al cambiar el ancho */
  }
}

.container-contact-me {
  bottom: 5%;
  position: absolute;
  display: flex;
  flex-direction: column;
  &--inferior {
    position: static;
    margin-top: 10%;

    //  mobile
    @include mobile {
      margin-top: 5%;
    }

    //  tablet
    @include tablet {
      margin-top: 5%;
    }

    .contact-me {
      justify-content: start !important;

      // mobile
      @include mobile {
        justify-content: center !important;
      }

      // tablet
      @include tablet {
        justify-content: center !important;
      }
    }
  }

  .titulo-contact-me {
    font-size: 4rem;
    color: white;
  }

  .contact-me {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

    .link {
      pointer-events: all;
    }

    .link {
      margin: 0px 1rem;
    }

    svg {
      width: 50px;
      height: 50px;
      color: white;

      &:hover {
        scale: 1.2;
        transition: all 0.3s ease;
      }
    }
  }
}
