<!-- <app-header></app-header> -->
<div class="contenedor-principal">
  <div class="glow-cursor" [ngStyle]="lightStyle"></div>
  <div class="slide-1">
    <div class="contenedor-titulos text-focus-in ">
      <div class="titulo text-focus-in">
        Konnichiwa, I'm 
        <div class="name text-focus-in">
            Héctor
        </div>
      </div>
      <div class="subtitulo text-focus-in">
        こんにちは、私は
        <div class="name text-focus-in">
          ヘクター
        </div>
        です
      </div>
      <div class="skills text-focus-in">
        Software developer
      </div>
    </div>
  </div>
</div>