$color-fondo: #101010;
// Importar el archivo de estilos general
@import "../../../styles.scss";

.contenedor-principal {
  background-color: $color-fondo;
  height: 100%;
  width: 100%;

  .slide-1 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .bg-container{
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url("../../assets/images/bg.jpg");
      background-size: cover;
      background-position: center;
      opacity: 0.3;
      z-index: 1;
    }
    

    .contenedor-titulos {
      text-align: center;
      pointer-events: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      z-index: 2;

      .titulo {
        color: white;
        font-size: 7rem;
        text-align: center;
        justify-content: center;
        display: flex;

        @include tablet {
          font-size: 4rem;
        }

        @include mobile {
          font-size: 2rem;
        }

        .name {
          margin-left: 10px;
          color: #d72323;
        }
      }

      .subtitulo,
      .skills {
        color: white;
        font-size: 2.5rem;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;

        @include tablet {
          font-size: 2rem;
        }

        @include mobile {
          font-size: 1rem;
        }
      }

      .name {
        margin-left: 10px;
        color: #d72323;
        display: flex;
        flex-direction: row;

        p {
          margin: 0px;
        }
      }
    }

    .container-contact-me{

      margin-top: 1%;
      display: flex;
      flex-direction: column;

      .titulo-contact-me{
        font-size: 4rem;
        color: white;
      }

      .contact-me{
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
  
        .link{
          pointer-events: all;
        }

        .link{
          margin: 0px 1rem;
        }
  
        svg{
          width: 50px;
          height: 50px;
          color: white;
        
        }
      }

    }
  }

  .slide-2 {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    background-color: $color-fondo;
    color: white;
    display: flex;
    justify-content: center;

    // Version tablet y mobile
    @include tablet {
      flex-direction: column;
    }

    @include mobile {
      flex-direction: column;
    }

    .columna-1 {
      height: 100%;
      width: 40%;
      position: sticky;
      top: 5%;
      z-index: 3;

      // Version tablet y mobile
      @include tablet{
        position: static;
        text-align: center;
        width: 100%;
        margin-bottom: 10px;
      }

      @include mobile{
        position: static;
        text-align: center;
        width: 100%;
        margin-bottom: 10px;
      }

      h2 {
        font-size: 3rem;
        margin: 0px;
      }
      h3 {
        font-size: 1.5rem;
      }
      h4 {
        font-size: 1rem;
        color: #94a3bb;
        margin: 0px;
      }
    }

    .columna-2 {
      width: 40%;
      height: 100%;

      @include tablet{
        width: 100%;
      }

      @include mobile{
        width: 100%;
      }

      div {
        margin-bottom: 40px;
      }

      .resume-link {
        position: relative;
        width: fit-content;

        &:hover {
          cursor: pointer;
        }

        a {
          text-decoration: none;
          font-weight: bold;
          color: white;

          &:hover {
            color: #d72323;
          }
        }
      }
    }
  }

  #progress {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 5px; /* Altura de la barra de progreso */
    background-color: #d72323; /* Color de la barra de progreso */
    z-index: 9999;
    transition: width 0.3s ease; /* Transición suave al cambiar el ancho */
  }
}
