
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+JP:wght@100..900&display=swap');
body{
    margin: 0px;
    font-family: "Bebas Neue", sans-serif;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none; /* Oculta la barra de desplazamiento de WebKit (Safari y Chrome) */
}

// Mixins desktop, mobile y tablet
@mixin desktop{
    @media (min-width: 1024px){
        @content;
    }
}

@mixin tablet{
    @media (min-width: 631px) and (max-width: 1023px){
        @content;
    }
}

@mixin mobile{
    @media (max-width: 630px){
        @content;
    }
}